aiohttp==3.6.0
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.4.0
chardet==3.0.0
discord.py==1.7.3
idna==3.3
multidict==4.0
pycodestyle==2.7.0
python-dotenv==0.18.0
toml==0.10.2
typing_extensions==4.1.1
yarl==1.7.2
psycopg==3.0.14
psycopg2-binary==2.9.3
asyncpg
Pillow
requires.io
pycord